<meta charset="utf-8">
<script>
$(document).ready(function(){
	$('#delete_btn').click(function(){
		var c = confirm('삭제하시겠습니까?');
		if(c == true){
			var id = $('#id').val();
			location.href='/adm/delete?id='+id;
		}
	});
	$('#update_btn').click(function(){
		$('#detail_form').attr({
			'method':'post',
			'action':'/adm/update' 
		});
		$('#detail_form').submit();
	});
});
</script>




<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Detail Admin</h1>
</div>


<!-- Detail Area -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Admin Information</h6>
    </div>
    <div class="card-body">
       <form id="detail_form">
		    <div class="form-group">
		      <label for="id">ID:</label>
		      <input type="text"  readonly="readonly" class="form-control" id="id" th:value="${obj.id}" name="id">
		      <span id="ispan"></span>
		    </div>
		    <div class="form-group">
		      <label for="pwd">Password:</label>
		      <input type="text" class="form-control" id="pwd" th:value="${obj.pwd}" name="pwd">
		    </div>
		    <div class="form-group">
		      <label for="lev">LEVEL:</label>
		      <input type="number" class="form-control" id="lev" th:value="${obj.lev}" name="lev">
		    </div>
  		</form>
  		<button id="update_btn" class="btn btn-default">UPDATE</button>
		<button id="delete_btn" class="btn btn-default">DELETE</button>
    </div>
</div>






