<meta charset="utf-8">

<script>
$(document).ready(function(){
	$('#register_btn').click(function(){
		$('#register_form').attr({
			'enctype':'multipart/form-data',
			'method':'post',
			'action':'[[@{/ocrimpl}]]'
		});
		$('#register_form').submit();
	});
});

</script>



<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">OCR TEST</h1>
</div>

<!-- Detail Area -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Register Customer</h6>
    </div>
    <div class="card-body">
       <form id="register_form">
		    <div class="form-group">
		      <label for="img">Image:</label>
		      <input type="file" class="form-control" id="img" name="img">
		    </div>
		   
		    <button id="register_btn" class="btn btn-default">REGISTER</button>
  		</form>
    </div>
</div>

